#container
    section
        h2 #{title}
        |           
        p
          | webpack takes modules with dependencies and generates static assets representing those modules.
        div
          img(src=require("./color.png"))